:root {
  --et_inputs-radio-size: 1em;
}
.wp-block-button {
  margin-bottom: 15px;
}
.wp-block-button.is-style-et-fse-bordered:hover .wp-block-button__link {
  color: var(--wp--preset--color--et-fse-dark) !important;
  background: var(--wp--preset--color--et-fse-white);
}
.wp-block-button.is-style-et-fse-bordered.wc-block-product-filter-clear-button:hover .wp-block-button__link {
  background: var(--wp--preset--color--et-fse-dark) !important;
  color: var(--wp--preset--color--et-fse-white) !important;
  border-color: var(--wp--preset--color--et-fse-dark) !important;
}
.wp-block-button.is-style-et-fse-light:hover .wp-block-button__link {
  background: var(--wp--preset--color--et-fse-active);
  color: var(--wp--preset--color--et-fse-white);
  border-color: var(--wp--preset--color--et-fse-active);
}
.wp-block-button.is-style-et-fse-dark:hover .wp-block-button__link {
  background: #4c4c4c;
  border-color: #4c4c4c;
}
.wp-block-cover,
.wp-block-cover-image {
  color: #fff;
}
.wp-block-cover {
  margin-bottom: 0.36em;
}
:where(.wp-block-search__button-inside .wp-block-search__inside-wrapper input[type=search]) {
  border: none !important;
}
:where(.wp-block-search__button-inside .wp-block-search__inside-wrapper input[type=search] .wp-block-search) {
  --et_inputs-border-color: transparent;
}
.wp-block-search {
  --et_inputs-height: auto;
}
.wp-block-latest-comments ul li {
  list-style: none;
  margin-bottom: 0.71em;
}
.wp-block-breadcrumbs .page-heading {
  padding: 0;
  font-size: inherit;
}
.wp-block-breadcrumbs .container {
  max-width: unset;
  width: 100%;
  padding: 0;
}
.wp-block-breadcrumbs .woocommerce-breadcrumb {
  margin-bottom: 0;
}
body {
  --wc-product-filter-checkbox-list-option-element: #fff;
  --wc-product-filter-checkbox-list-option-element-border: var(--wp--preset--color--et-fse-border);
}
.wc-block-product-filter-checkbox-list__item:not(:first-child) {
  margin-top: 11px;
}
.wc-block-product-filter-checkbox-list__items {
  margin-top: 20px;
}
input[type=checkbox] .wc-block-product-filter-checkbox-list__input:hover + .wc-block-product-filter-checkbox-list__mark {
  display: block;
  pointer-events: none;
}
.wc-block-product-filter-checkbox-list__input-wrapper:before,
.wc-block-product-filter-checkbox-list__input-wrapper input[type=checkbox] {
  border-radius: var(--et_inputs-border-radius, 0px);
}
.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content {
  padding-left: var(--wp--preset--spacing--et-fse-16);
  padding-right: var(--wp--preset--spacing--et-fse-16);
}
.wp-block-navigation__responsive-container-close {
  margin: 12px;
}
.et-fse-text-nowrap {
  white-space: nowrap;
}
.woocommerce-account .woocommerce-MyAccount-navigation {
  width: 100%;
}
.woocommerce-account .woocommerce-MyAccount-navigation li {
  padding-bottom: 0;
}
.woocommerce-account .woocommerce-MyAccount-navigation li a {
  text-decoration: none !important;
}
.woocommerce-account .MyAccount-dashboard-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 15px;
  margin: 0 0 20px;
}
.wp-site-blocks main .woocommerce {
  max-width: var(--wp--style--global--content-size);
}
.wp-site-blocks mark {
  color: currentColor;
}
.woocommerce form.login,
.woocommerce form.register {
  margin-left: auto;
  margin-right: auto;
}
form.login .form-row.flex:before,
form.register .form-row.flex:before,
form.login .form-row.flex:after,
form.register .form-row.flex:after {
  display: none;
}
.wp-block-add-to-cart-form .add_to_cart_button.loading {
  position: relative;
  color: transparent;
}
.wp-block-add-to-cart-form .add_to_cart_button .et-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 0;
}
.wp-block-add-to-cart-form .add_to_cart_button .loader-circular {
  left: calc(50% - 15px);
  top: calc(50% - 15px);
  bottom: auto;
  margin: 0;
}
label.wc-block-add-to-cart-with-options-variation-selector-attribute-options__pill {
  padding: 9px 12px;
  font-size: 1rem;
  color: var(--wp--preset--color--et-fse-dark);
  background: var(--wp--preset--color--et-fse-white);
  border: 1px solid var(--wp--preset--color--et-fse-border);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
label.wc-block-add-to-cart-with-options-variation-selector-attribute-options__pill:hover,
label.wc-block-add-to-cart-with-options-variation-selector-attribute-options__pill:has(:checked) {
  background: var(--wp--preset--color--et-fse-dark);
  border-color: var(--wp--preset--color--et-fse-dark);
  color: var(--wp--preset--color--et-fse-white);
}
.wp-block-woocommerce-add-to-cart-with-options-variation-selector-attribute-name {
  font-size: var(--wp--preset--font-size--et-fse-heading-4);
  color: var(--wp--preset--color--et-fse-dark);
  text-transform: capitalize;
}
.wc-block-components-quantity-selector {
  --et_inputs-height: 38px;
}
.wc-block-components-quantity-selector input[type="number"] {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  width: 3.631em;
  border-radius: 0;
  border-color: var(--et_inputs-border-color, var(--wp--preset--color--et-fse-border));
}
.wc-block-components-quantity-selector .wc-block-components-quantity-selector__button:hover:focus {
  color: currentColor;
}
.wc-block-components-quantity-selector .wc-block-components-quantity-selector__button:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.wc-block-components-quantity-selector:after {
  border-color: var(--wp--preset--color--et-fse-border);
  border-radius: 0;
  opacity: 1;
}
.wp-block-button.wc-block-components-product-button {
  margin-bottom: 0;
}
table.wc-block-cart-items thead {
  border-bottom: none;
}
.woocommerce .star-rating span:before,
.woocommerce p.stars a:before {
  color: var(--et_yellow-color);
}
body.woocommerce #reviews #comments ol.commentlist li img.avatar {
  width: auto;
  border-radius: 50%;
  max-width: 70px;
}
body.woocommerce #reviews #comments ol.commentlist li .comment-text {
  margin-left: 90px;
  border: none;
  padding: 0;
}
.wc-block-components-button:not(.is-link):focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.wc-block-cart__submit-button,
.wc-block-components-checkout-place-order-button {
  padding: 13px;
  background-color: var(--wp--preset--color--et-fse-active);
  color: var(--wp--preset--color--et-fse-white);
}
.wc-block-cart__submit-button:hover,
.wc-block-components-checkout-place-order-button:hover {
  opacity: 0.9;
}
.wc-block-mini-cart__badge {
  font-size: 0.55em;
}
table.wc-block-cart-items .wc-block-cart-items__row .wc-block-cart-item__quantity .wc-block-cart-item__remove-link {
  font-size: 1em;
}
.wc-block-product-filter-price-slider .text input[type=text] {
  border-radius: var(--et_inputs-border-radius, 0px);
  border-color: var(--wp--preset--color--et-fse-border);
}
details summary {
  display: list-item;
}
.wp-block-details.et-fse-faq-style summary::-webkit-details-marker {
  display: none;
}
.wp-block-details.et-fse-faq-style summary::after {
  content: "\e905";
  font-family: 'xstore-icons';
  font-size: 0.55em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-margin-start: auto;
          margin-inline-start: auto;
  margin-right: 0;
  margin-left: auto;
}
.wp-block-details.et-fse-faq-style[open] > summary::after {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}
.wp-block-details.et-fse-faq-style summary {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#customer_login > div {
  border-radius: 5px;
}
html body .wp-block-woocommerce-product-details.is-style-minimal ul.tabs.wc-tabs li {
  border: none;
}
@media only screen and (min-width: 769px) {
  html body .wp-block-woocommerce-product-details.is-style-minimal ul.tabs.wc-tabs li {
    margin: 0 10px;
  }
}
html body .wp-block-woocommerce-product-details.is-style-minimal ul.tabs.wc-tabs li a {
  background-image: -webkit-gradient(linear, left top, right top, from(currentcolor), to(currentcolor));
  background-image: linear-gradient(90deg, currentcolor, currentcolor);
  background-size: 0% 2px;
  background-repeat: no-repeat;
  background-position: left bottom;
  font-weight: 400;
  padding-left: 0;
  padding-right: 0;
}
html body .wp-block-woocommerce-product-details.is-style-minimal ul.tabs.wc-tabs li:hover a,
html body .wp-block-woocommerce-product-details.is-style-minimal ul.tabs.wc-tabs li.active a {
  background-size: 100% 2px;
}
.woocommerce table.shop_attributes th {
  font-weight: 400;
}
.et-mailchimp {
  border-radius: var(--et_inputs-border-radius, 0);
}
body:not(.rtl) .et-mailchimp.classic-button input[type="submit"] {
  border-top-right-radius: var(--et_inputs-border-radius, 0);
  border-bottom-right-radius: var(--et_inputs-border-radius, 0);
}
body.rtl .et-mailchimp.classic-button input[type="submit"] {
  border-top-left-radius: var(--et_inputs-border-radius, 0);
  border-bottom-left-radius: var(--et_inputs-border-radius, 0);
}
.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
  border-color: var(--wp--preset--color--et-fse-border);
}
body {
  --wc-form-border-color: var(--et_inputs-border-color, var(--wp--preset--color--et-fse-border));
  --wc-form-border-radius: var(--et_inputs-border-radius, 0);
}
select,
.select2.select2-container--default .select2-selection--single {
  font-size: 1.14rem;
}
